.authorize_button {
  color: green;
  margin-left: 80px;
}

.signout_button {
  color: red;
  margin-left: 80px;
}

.content {
  color: black;
  font-size: medium;
  margin-left: 80px;
}

.audio {
  position:absolute;
  bottom:10px;
  right:25%;
  left:50%;
  margin-left:-150px;
}

.bottom_center {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 10px;
}

.pre {
  margin-left: 80px;
}
.img_margin {
  margin-bottom: 10px;
  margin-right: 10px;
}

.icon2{
  background: url('icons/alarm-clock-32 light blue.ico');
  height: 32px;
  width: 32px;
  display: block;
  margin-left: 0px;
  margin-right: 6px;
  /* Other styles here */
}

.icon {
  background: url('icons/alarm-clock-16 light blue.png');
  height: 16px;
  width: 16px;
  display: inline-flex;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: -3px;
}

.outlook_icon {
  background: url('icons/icons8-outlook-calendar.svg');
  height: 48px;
  width: 48px;
  /* Other styles here */
}

.google_icon {
  background: url('icons/icons8-google-calendar.svg');
  height: 48px;
  width: 48px;
  /* Other styles here */
}

.marinTop {
  margin-top: 50px;
}

.navbar_height {
  height: 20px;
}

.navbar2 {
  height: 50px;
  position: relative;
  min-height: 20px;
  margin-bottom: 2px;
  border: 1px solid transparent;
}

.navbar-brand2 {
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}


.h2_inline {
  display: inline-block;
}

.has_margin {
  margin-top: 40px;
  margin-bottom: 50px;
}

video {
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
#player-overlay {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  z-index:999;
}