.authorize_button {
  color: green;
  margin-left: 80px;
}

.signout_button {
  color: red;
  margin-left: 80px;
}

.content {
  color: black;
  font-size: medium;
  margin-left: 80px;
}

.audio {
  position:absolute;
  bottom:10px;
  right:25%;
  left:50%;
  margin-left:-150px;
}

.bottom_center {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 10px;
}

.pre {
  margin-left: 80px;
}
.img_margin {
  margin-bottom: 10px;
  margin-right: 10px;
}

.icon {
  background: url('icons/alarm-clock-32 light blue.ico');
  height: 32px;
  width: 32px;
  display: block;
  margin-left: 0px;
  margin-right: 20px;
  /* Other styles here */
}

.outlook_icon {
  background: url('icons/icons8-outlook-calendar.svg');
  height: 48px;
  width: 48px;
  /* Other styles here */
}

.google_icon {
  background: url('icons/icons8-google-calendar.svg');
  height: 48px;
  width: 48px;
  /* Other styles here */
}

.marinTop {
  margin-top: 50px;
}

.h2_inline {
  display: inline-block;
}

.has_margin {
  margin-top: 40px;
  margin-bottom: 50px;
}

video {
  width: 100%;
  max-height: 100%;
}
